.tab_hd {
  posistion: relative;
  border-bottom: 1px solid #ddd; }
  .tab_hd:before, .tab_hd:after {
    content: " ";
    display: table; }
  .tab_hd:after {
    clear: both; }
  .tab_hd > ul {
		list-style:none;
		padding:0;
		margin:0;
    float: left;
    vertical-align: bottom; }
    .tab_hd > ul > li {
      float: left;
      margin-bottom: -1px;
      position: relative;
      cursor: pointer; }
      .tab_hd > ul > li > div {
        padding: 6px 15px;
        color:#555;
        margin-right: 2px;
        line-height: 1.42857;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0; }
        .tab_hd > ul > li > div > div {
          display: inline-block; }
        .tab_hd > ul > li > div > img {
          margin: 0;
          padding: 0;
          vertical-align: middle;
          height: 14px; }
        .tab_hd > ul > li > div:hover {
          border-color: #eeeeee #eeeeee #ddd; }
          .tab_hd > ul > li > div:hover .tb-img, .tab_hd > ul > li > div:hover .tb-close {
            z-index: 2; }
      .tab_hd > ul > li.on > div, .tab_hd > ul > li.on > div:hover, .tab_hd > ul > li.on > div:focus {
        padding: 6px 15px;
        color: #222;
        font-weight:bold;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default; }
    .tab_hd > ul > li:first-child {
      padding-left: 5px; }
    .tab_hd > ul .tb-img {
      float: left;
      height: 10px;
      width: 10px;
      position: absolute;
      right: -2px;
      top: -2px; }
  .tab_hd > .com-toolbar {
    display: inline;
    width: auto;
    height: auto;
    float: right; }

.tab_hd.large > ul > li > div {
  padding: 8px; }
.tab_hd.large > ul > li.on > div, .tab_hd.large > ul > li.on > div:hover, .tab_hd.large > ul > li.on > div:focus {
  padding: 8px; }

.tab_hd.small > ul > li > div, .tab_hd.style_note > ul > li > div {
  padding: 2px 5px;
  border-radius: 0; }
.tab_hd.small > ul > li.on > div, .tab_hd.style_note > ul > li.on > div, .tab_hd.small > ul > li.on > div:hover, .tab_hd.style_note > ul > li.on > div:hover, .tab_hd.small > ul > li.on > div:focus, .tab_hd.style_note > ul > li.on > div:focus {
  padding: 2px 5px;
  border-radius: 0; }

.tab_hd.highlight > ul > li > div, .tab_hd.style_note > ul > li > div {
  border-color: #eeeeee #eeeeee #ddd; }
  .tab_hd.highlight > ul > li > div:hover, .tab_hd.style_note > ul > li > div:hover {
    border-color: #f90 #eeeeee #ddd; }
.tab_hd.highlight > ul > li.on > div, .tab_hd.style_note > ul > li.on > div, .tab_hd.highlight > ul > li.on > div:hover, .tab_hd.style_note > ul > li.on > div:hover, .tab_hd.highlight > ul > li.on > div:focus, .tab_hd.style_note > ul > li.on > div:focus {
  border-bottom-color: transparent;
  border-top-color: #f90; }

.tab-stacker > ul {
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px; }
  .tab-stacker > ul > li {
    position: relative;
    border: 1px solid transparent; }
    .tab-stacker > ul > li > div {
      padding: 5px;
      line-height: 22px; }
      .tab-stacker > ul > li > div > div {
        display: inline-block; }
      .tab-stacker > ul > li > div > img {
        margin: 0;
        padding: 0;
        vertical-align: middle;
        height: 14px; }
      .tab-stacker > ul > li > div:hover {
        background-color: #ccc; }
        .tab-stacker > ul > li > div:hover .tb-close, .tab-stacker > ul > li > div:hover .tb-img {
          z-index: 2; }
    .tab-stacker > ul > li.on > div, .tab-stacker > ul > li.on > div:hover, .tab-stacker > ul > li.on > div:focus {
      background-color: #ccc; }
    .tab-stacker > ul > li + li {
      border-top: 1px solid #ddd; }
    .tab-stacker > ul > li .tb-img, .tab-stacker > ul > li .tb_close {
      float: left;
      height: 10px;
      width: 10px;
      position: absolute;
      right: 10px;
      top: 11px;
       }

.tab_hd.style_note > ul > li:not(.on) > div {
  border-color: transparent; }

/*# sourceMappingURL=tab.css.map */
