@font-face {
  font-family: "iconfont"; /* Project id 4890971 */
  src: url('iconfont.woff2?t=1784450226694') format('woff2'),
       url('iconfont.woff?t=1784450226694') format('woff'),
       url('iconfont.ttf?t=1784450226694') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitable:before {
  content: "\e803";
}

.icon-copies:before {
  content: "\e628";
}

.icon-pager:before {
  content: "\e92d";
}

.icon-icon-customvar:before {
  content: "\e600";
}

.icon-database:before {
  content: "\e616";
}

.icon-Excel:before {
  content: "\e6df";
}

